<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main/css/style-nav.css" />
    <title>medic</title>
  </head>
  <body>
    <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <h2>choose one</h2>
          <div class="nav_items">
            <a href="https://www.geeksforgeeks.org/"><h3>YOGIC</h3></a>
            <div class="in">
              <img src="main/img/yoga1.png" alt="" width="100px" srcset="" />
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto eligendi cupiditate unde ab placeat voluptatem atque!</p>
            </div>
          </div>
          <div class="nav_items">
            <a href="https://www.geeksforgeeks.org/"><h3>MEDIC</h3></a>
            <div class="in">
              <img src="main/img/yoga2.png" alt="" width="100px" srcset="" />
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto eligendi cupiditate unde ab placeat voluptatem atque!</p>
            </div>
          </div>
          <div class="nav_items">
            <a href="https://www.geeksforgeeks.org/"><h3>SENTIMENTAL</h3></a>
            <div class="in">
              <img src="main/img/yoga3.png" alt="" width="100px" srcset="" />
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto eligendi cupiditate unde ab placeat voluptatem atque!</p>
            </div>
          </div>
        </ul>
      </div>
    </nav>
    <!-- nav ends here -->